.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: none;
}

.contact-modal {
    background: #fffaf3;
    border-radius: 32px;
    padding: 60px 80px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;


    width: fit-content;
    margin: 72px auto;
}

.modal-close {
    position: absolute;
    top: 30px;
    right: 30px;

    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
}