.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 115px;
    padding: 16px 32px;

    &__logo {
        display: flex;
        align-items: center;
        gap: 8px;

        &-img {
            width: 183px;
            height: auto;

            @include respond(lg) {
                width: 160px;
            }

            @include respond(md) {
                width: 92px;
            }

        }
    }

    &__brand {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        color: #ff9f0e;
        line-height: 1;

        &-main {
            font-size: 32px;
        }

        &-sub {
            font-size: 24px;
            font-weight: 300;
        }
    }

    &__nav {
        display: flex;
        gap: 48px;

        @include respond(xlg) {
            gap: 20px;
        }

        @include respond(lg) {
            display: none;
        }

        a {
            font-size: 18px;
            color: #181817;
            text-decoration: none;

            &.header__nav-active {
                font-weight: 700;
            }

            &:hover,
            &.header__nav-active {
                color: #ff9f0e;
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 24px;

        .header__btn {
            padding: 16px 32px;
            border-radius: 8px;
            background: #ff9f0e;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            border: none;
            cursor: pointer;

            &:hover {
                background: #ffb84d;
            }

            @include respond(lg) {
                display: none;
            }
        }

        .header__cart {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 40px;
            color: var(--dog-landing-3-s1);

            &:hover {
                color: #ffb84d;
            }
        }
    }

    .burger {
        display: none;

        @include respond(xlg) {
            display: none;
        }

        @include respond(lg) {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FF9F0E;
            font-size: 40px;
            cursor: pointer;
        }

        &__icon {}
    }
}